* {
  color: rgb(48, 13, 56) !important;
  font-family: sans-serif;
}
.nav-link,
.company-resources-lists > ul > li,
.copyright {
  font-weight: 500;
}
/**************************** Navbar ****************************/
.header-container {
  transition: all 0.3s ease-in-out;
}
.navbar {
  background-color: #fff !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(48, 13, 56)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.modal-content {
  background-color: #f25650 !important;
}
.modal-body {
  color: #fff !important;
}
/**************************** Form ****************************/
section {
  background-color: rgb(39 28 71);
  padding-top: 125px;
}
.title,
p,
label {
  color: #fff !important;
}
.title {
  font-size: 55px;
}
.text-accent {
  color: #f25650 !important;
}
.submit {
  background-color: #f25650 !important;
  border: none;
  color: rgb(39 28 71) !important;
}
.submit:hover {
  background-color: #ffa900 !important;
}
.error {
  color: #f25650 !important;
}
/**************************** Footer ****************************/
footer {
  background-image: url("./images/fetch-rewards-footer-image.png");
  background-position: center;
  background-size: cover;
  min-height: auto;
  position: relative;
  text-align: center;
  width: 100%;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.company-resources-lists > ul > li:hover {
  text-decoration: underline !important;
}
.fa-brands:hover {
  cursor: pointer;
}
.follow-us {
  font-weight: 900;
}
.fa-brands {
  color: #300d38 !important;
}
/**************************** Media Queries ****************************/
@media (max-width: 767px) {
  .nav-link {
    font-size: x-large;
  }
  .navbar-nav {
    height: 100vh;
  }
}
#error-border {
  border: 3px solid #f25650;
}
